.TriggerTitle {
    cursor: pointer;
}

.TriggerTitle .container {
    color: inherit;
    font-weight: inherit;
}

.modal {
    background: hsla(0,0%,100%,.8);
    z-index: 100000 !important;
}

.modal .paper {
    top: auto;
    left: auto;
    width: 60%;
    max-height: 70%;
    padding: .5rem;
}

.CloseModalIcon .closeButton {
    color: inherit;
}

@media screen and (max-width: 720px) {
    .modal .paper {
        width: 90%;
        max-height: 80%;
    }
}